.circle-container {
    width: 200px;
    height: 200px;
    padding: 10px 10px;
    border-radius: 100%;
    border: #1a1a1a solid 1px;
}
.circle-content {
    color: white;
    text-shadow: 0px 0px 5px black;
    width: auto;
    height: 100%;
    border-radius: 100%;
    border: #3B93F7 solid 1px;
    text-align: center;
    padding: 20px 0px;
}
.circle-count {
    font-size: 50px;
    font-weight: bold;
    margin: 0px;
}
.circle-text {
    font-size: 25px;
}
.grandient-blue-ocean {
    background: #1a1a1a;  
    background: -webkit-linear-gradient(to right, #3B93F7, #1a1a1a); 
    background: linear-gradient(to right, #3B93F7, #1a1a1a); 
}
.grandient-very-blue {
    background: #3B93F7;  
    background: -webkit-linear-gradient(to right, #1a1a1a, #3B93F7); 
    background: linear-gradient(to right, #1a1a1a, #3B93F7); 
}
.badge-container {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: black 0px 0px 5px;
    border: rgba(0, 0, 0, 0.3) 5px solid;
}
.badge-body {
    background: #1a1a1a;  
    background: -webkit-linear-gradient(to left, #3B93F7, #1a1a1a, #1a1a1a, #3B93F7); 
    background: linear-gradient(to left, #3B93F7, #1a1a1a, #1a1a1a, #3B93F7); 
    height: 50%;
    width: 100%;
    text-shadow: rgb(0, 0, 0) 0px 1px 0px;
    color: #ffffff;
}
.badge-footer {
    background: #3B93F7;  
    background: -webkit-linear-gradient(to right, #1a1a1a, #3B93F7, #1a1a1a); 
    background: linear-gradient(to right, #1a1a1a, #3B93F7, #1a1a1a); 
    height: 50%;
    width: 100%;
}
.badge-footer i {
    color: white;
    font-size: 50px;
    text-shadow: #3B93F7 0px 0px 5px;
}
.badge-division {
    background: rgba(0, 0, 0, 0.65);
    height: 2px;
}
/*STACKS*/
div.card-stack {
    background-color: #1a1a1a;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
    min-height: 300px;
    color: #ffffff;
    box-shadow: #000000 0px 1px 5px;
}
div.card-stack-header {
    background: #2e2e2e;  
    background: -webkit-linear-gradient(to right, #1a1a1a, #2e2e2e, #1a1a1a); 
    background: linear-gradient(to right, #1a1a1a, #2e2e2e, #1a1a1a);
    padding-top: 15px;
    padding-bottom: 10px;
}
div.card-stack-header h2, 
div.card-stack-header i {
    text-shadow: #3B93F7 0px 0px 5px;
}
div.card-stack-header i {
    font-size: 40px;
    margin: 10px 0px;
}
div.card-stack-body{
    background-color: #3B93F7;
}
div.stack-division {
    background: #ffffff;  
    background: -webkit-linear-gradient(to right, #1a1a1a, #ffffff, #1a1a1a); 
    background: linear-gradient(to right, #1a1a1a, #ffffff, #1a1a1a);
    height: 3px;
}
div.stack-frontend {
    background: #3B93F7;  
    background: -webkit-linear-gradient(to right, #1a1a1a, #3B93F7, #1a1a1a); 
    background: linear-gradient(to right, #1a1a1a, #3B93F7, #1a1a1a);
    padding: 10px 0px;
}
div.stack-backend {
    background: #1a1a1a;  
    background: -webkit-linear-gradient(to left, #3B93F7, #1a1a1a, #1a1a1a, #3B93F7); 
    background: linear-gradient(to left, #3B93F7, #1a1a1a, #1a1a1a, #3B93F7);  
    padding: 10px 0px;
}
div.stack-frontend p, 
div.stack-backend p {
    text-shadow: #000000 1px 1px 1px;
    font-size: 20px;
}